/* 
---------------------------------------------
team
--------------------------------------------- 
*/

.team-item {
	background: #fff;
	box-shadow: 0 2px 48px 0 rgba(0,0,0,0.06);
	@include radius(5px);
	position: relative;
	margin-bottom: 30px;
	margin-top: 45px;

	&:hover {
		.user-image {
			top: -55px;
		}
	}

	.user-image {
		width: 90px;
		height: 90px;
		overflow: hidden;
		@include radius(100px);
		position: absolute;
		left: 0px;
		right: 0px;
		margin: auto;
		top: -45px;
		@include transition(.3s);
		box-shadow: 0 2px 48px 0 rgba(0,0,0,0.06);
	}

	.team-content {
		text-align: center;
		overflow: hidden;

		.team-info {
			margin-bottom: 30px;

			.user-name {
				display: block;
				@include font($normal, 16px);
				color: $headingDark;
				letter-spacing: 0.69px;
				margin-bottom: 5px;
			}

			span {
				display: block;
				@include font($normal, 14px);
				color: $primaryColor;
				letter-spacing: 0.6px;
			}
		}

		p {
			margin-top: 70px;
			padding-left: 25px;
			padding-right: 25px;
			margin-bottom: 25px;
			@include font($normal, 14px);
			color: $textDark;
			letter-spacing: 0.6px;
			line-height: 26px;
		}
	}
}